version: "3.9"

services:
  ms_feels_like:
    image: ms_feels_like_image
    build: ./microservices/ms_feels_like
    ports:
      - "8001:8001"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  ms_umbrella_advice:
    image: ms_umbrella_advice_image
    build: ./microservices/ms_umbrella_advice
    ports:
      - "8002:8002"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  nginx:
    image: nginx_swarm
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - ms_feels_like
      - ms_umbrella_advice
    deploy:
      replicas: 1
